body {
    background-color: grey;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    margin: 40px;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 25px;
}